version: '3.8'
services:
  db:
    image: postgres:15
    container_name: safety_db
    environment:
      POSTGRES_DB: safety_alert_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
